@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$main_font: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #E08709;
;
$green: #71B100;
$white: #FFFFFF;
$gray: #e1e1e1;
$darkgray: #333333;
$red: #bf4444;
$blue: #1d86a6bf;

$separation: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$black: 900